.section.preferences {
    padding-bottom: 0;
}

.preferences-list,
.services-list,
.team-list {
    display: flex;
}

.preferences-list .list-item,
.team-list .list-item {
    width: calc((100%-90px) / 4);
}

.preferences-list .preferences-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.preferences-list .link-icon {
    width: 70px;
    height: 70px;
}

.preferences-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.preferences-descr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}